<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="LocalNuget1" value="D:\Projects\Sekmen.StaticSiteGenerator\Umbraco.Community.HtmlExporter\bin\Debug" />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
</configuration>
