@model Umbraco.Community.HtmlExporter.Dashboards.ExportDashboardViewModel[]
<h1>Export Website</h1>

<form method="post" class="export-form" action="/umbraco/management/api/v1/export">
    <fieldset>
        <div class="form-group mb-3">
            <label for="siteUrl" class="form-label">Select source site</label>    
            <select name="siteUrl" id="siteUrl" class="form-select" required aria-label="Source site selection">
                @foreach (var site in Model)
                {
                    <option value="@site.Url" title="@site.Url">
                        @site.Name (@site.Url)
                    </option>       
                }
            </select>
        </div>

        <div class="form-group mb-3">
            <label for="targetUrl" class="form-label">Target URL</label>
            <input type="text" 
                   name="targetUrl" 
                   id="targetUrl" 
                   class="form-control" 
                   required 
                   placeholder="Enter target URL"
                   aria-label="Target URL"
                   value="https://huseyinsekmenoglu.net/">
        </div>

        <div class="form-group mb-3">
            <label for="outputFolder" class="form-label">Output Folder</label>
            <input type="text" 
                   name="outputFolder" 
                   id="outputFolder" 
                   class="form-control" 
                   required 
                   placeholder="Enter target URL"
                   aria-label="Target URL"
                   value="D:\Projects">
        </div>

        <button type="submit" class="btn btn-primary">
            Export
        </button>
    </fieldset>
</form>
